<launch>

  <arg name="cmd_vel_out" default="bhand_node/velocity_setpoint"/>

  <arg name="config_locks"  default="$(find bhand_mux)/config/bhand_mux_locks.yaml"/>
  <arg name="config_topics" default="$(find bhand_mux)/config/bhand_mux_topics.yaml"/>

  <node pkg="bhand_mux" type="bhand_mux" name="bhand_mux" output="screen">
    <remap from="cmd_vel_out" to="$(arg cmd_vel_out)"/>

    <rosparam file="$(arg config_locks)"  command="load"/>
    <rosparam file="$(arg config_topics)" command="load"/>
  </node>

</launch>

